hr{
		border: 1px solid cadetblue;
	}
h1{
		color: dimgray;
	}
h2{
		color: grey;
	}
h3{
		color: black;
	}
body{
		background-color: rgb(200,200,200);

		margin-left: 20%;
		margin-right: 20%;
		border: 1px solid gray;
		padding: 10px 10px 10px 10px;
		font-family: sans-serif;
	}
a:link {
		color: darkgray;
		text-decoration: none;
		}
a:visited{
		color: gray;
		text-decoration: none;
		}
a:hover{
		color: black;
		font-kerning: all;
		}